name: Update Bleed Attacks

on:
  schedule:
    - cron: '*/5 * * * *' # every 5 minutes
  workflow_dispatch:       # allows manual trigger

jobs:
  update-attacks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install
        working-directory: ./

      - name: Run fetch_attacks.js
        run: node bleedtracker/fetch_attacks.js
        working-directory: ./
